@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Merriweather', sans-serif;
    color: #333333;
    line-height: 2rem;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: #333333;
}

p {
    margin: 10px 0;
}

img {
    width: 100%;
}

.wrapper {
    overflow: auto;
    max-width: 88vw;
    height: 85vh;
    margin: 10vh auto 5vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    max-width: 1250px;
    margin: 0 auto;
}

/* Header */
.navbar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    margin: 0 auto;
    max-width: 88vw;
    height: 10vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
    color: #ffffff; 
}

.toggle-button {
    display: none;
}

/* Footer */
.footer {
    position: fixed;
    bottom: 0;
    z-index: 100;
    color: #ffffff; 
    width: 100%;
    height: 5vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
}

.navbar a {
    color: #ffffff; 
}

.nav-links {
    display: flex;
}

.nav-links li {
    margin-left: 25px;
}

.nav-links a:hover {
    border-bottom: 1px #ffffff solid;
}


/* Home */
.home {
    display: flex;
}

.home > div {
    padding: 0 2rem;
}

.home h1 {
    font-size: 6.25rem;
    font-weight: 900;
    color: #F76000;
    line-height: normal;
}

.home p {
    padding: 2.5rem 0;
    width: 80%;
}

.main-text {
    display: flex;
    flex-direction: column;
}

.arrow {
    max-width: 26px;
    align-self: center;
    transform:translateX(-40px);
    opacity: 0;
    animation: animation 2s ease 2s 1 forwards;
}

.main-picture {
    max-width: 540px;
    width: auto;
}

/* About */
.about {
    display: flex;
    justify-content: space-around;
}

.about-img {
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.about-text {
    width: 40%;
}

.about-text h1 {
    font-size: 6.25rem;
    font-weight: 900;
    color:#9A719D;
    line-height: normal;
}

.about-text p {
    font-weight: 300;
}

.profile {
    max-width: 468px;
}

.about .arrow {
    transform:translateX(0);
}

/* Events */
.events {
    margin-bottom: 4rem;
    padding: 0 5rem;
}

.events p {
    font-weight: 300;
    line-height: 1.6rem;
}

.events .grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 70px;
}

.events-text p {
    margin: 2rem 0 4rem;
}

/* Services */
.services {
    color: #8A588E;
    padding: 0 5rem;
}

.services h2 {
    margin: 3.5rem auto;
}


.services .grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 40px;
    margin-bottom: 6rem;
}

.card {
    background-color: #ffffff;
    text-align: center;
    max-width: 365px;
    border-radius: 21px;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
    padding: 40px 20px;
    margin: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.card h3 {
    margin-top: 50px;
}

img.financial {
    max-width: 203px;
}

img.life {
    max-width: 274px;
}

img.business {
    max-width: 232px;
}

/* Testimonials */
.testimonials h2 {
    color: #F76000;
    margin-bottom: 4rem;
}

.testimonials .grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 55px;
    background: url('../images/bg.png') no-repeat bottom center;
    background-size: contain;
    padding-bottom: 40px;
    margin: 1rem 1rem 6rem;
}

.testimonials img {
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
    margin: 10px;
}

/* Awards */

.awards h2 {
    color: #F76000;
    margin-bottom: 3.5rem;
}

.awards ul, li { width: 100% }

.awards li {
    font-size: 1.75rem;
    border-bottom: 1px solid #707070;
    padding: 25px;
}

.awards li:last-child {
    border-bottom: 0;
}

/* Contact */
#section6 .wrapper {
    background-color: #F4F4FF;
}

.contact {
    display: flex;
    color: #333333;
    width: 100%;
}

.contact > div {
    width: 100%;
}

.contact h2,
.contact h3 {
    font-weight: 400;
}

.contact p {
    line-height: 21px;
    margin: 45px auto;
}

.contact li {
    margin: 1rem auto;
    display: flex;
    height: auto;
    align-items: center;
}

.contact ul li > a {
    margin: 0 1rem;
}

.contact ul .sns-icon {
    color: #9A719D;
}

.contact .fields {
    margin: 1.5rem auto;
}

.contact input {
    background: none;
    border: 0;
    color: #333333;
    border-bottom: 1px solid #333333;
    width: 75%;
    padding: .5rem;
    margin: 1.1rem auto;
    font-size: 1.1rem;
}

.contact textarea {
    background: none;
    border: 0;
    color: #333333;
    border-bottom: 1px solid #333333;
    width: 75%;
    padding: .5rem;
    margin: 1.1rem auto;
    font-size: 1.3rem;
    height: 70px;
}

.contact ::placeholder { 
    color: #333333;
    opacity: 1; /* Firefox */
    font-size: 1.1rem;
}
  
.contact :-ms-input-placeholder {
    color: #333333;
    font-size: 1.1rem;
}
  
.contact ::-ms-input-placeholder { 
    color: #333333;
    font-size: 1.1rem;
}

.form-btn {
    background-color: #9A719D;
    color: #ffffff;
    font-size: 1.2rem;
    padding: 1rem 2rem;
    cursor: pointer;
    border: 0;
    font-family: 'Merriweather', sans-serif;
    transition: all .5s ease-in-out;
}

.form-btn:hover {
    background-color: #F77F00;
    color: #ffffff;
}


/* Large laptop and below */
@media(max-width: 1600px){
    .about-text {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: start;
    }

    .about-text h1 {
        margin: 2rem 0 1rem;
    }

    .events {
        margin-bottom: 0;
    }

    .testimonials .grid {
        margin: 0;
        padding: 0 5rem;
    }    

    .contact {
        justify-content: space-around;
    }
    
    .contact > div {
        width: auto;
    }
}

@media(max-width:1440px) {
    .contact {
        justify-content: space-evenly;
    }

    .contact input, 
    .contact textarea {
        width: 100%;
    }
}

@media(max-width:1366px) {
    .home h1,
    .about h1 {
        font-size: 5rem;
    }

    .about {
        justify-content: space-evenly;
    }

    .about-img img {
        max-width: 366px;
    }
    
    .awards li {
        font-size: 1.25rem;
        padding: 15px;
    }

    .txt-xxl { font-size: 2rem!important; }
}

@media (max-width: 1280px){
    .home h1, .about h1 {
        font-size: 4rem;
    }

    .events-text p {
        margin: 1rem 0 2rem;
    }

    .events p {
        line-height: 1.2rem;
    }

    .txt-xl {
        font-size: 1.75rem!important;
    }
}

@media (max-width: 1024px) {
    .toggle-button {
        display: block;
    }
    .navbar {
        flex-wrap: wrap;
        height: auto;
        margin: 2rem auto;
    }
    .nav-ul {
        display: none;
        width: 100%;
        flex-direction: column;
        text-align: center;
        padding: 2rem;
        margin-top: 3vh;
        background-color: #F77F00;
    }
    .nav-links li {
        margin-left: 0;
        padding: 1rem;
        font-size: 1.25rem;
    }
    .nav-ul.show {
        display: flex;
    }
    .nav-ul.collapse {
        display: none;
    }

    .main-picture {
        max-width: 360px;
    }
}

/* Tablet and below */
@media (max-width: 768px) {
    .home {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
    .home p {
        width: auto;
    }
    .arrow {
        display: none;
    }

    .about-img img {
        max-width: 250px;
    }

    .events {
        padding: 0 2rem;
    }

    .events .grid {
        gap: 40px;
    }

    .services {
        padding: 0 2rem;
    }

    .services .grid {
        gap: 10px;
    }

    .testimonials .grid {
        display: block;
        background: none;
        padding-bottom: 0;
    }

    .testimonials img {
        max-width: 230px;
    }

    .contact {
        flex-direction: column;
        font-size: 1rem!important;
        padding: 2rem;
    }

    .contact h2,
    .contact h3 {
        font-size: 1.35rem!important;
    }

    .contact p {
        line-height: normal;
        margin: 1rem auto;
    }

    .contact input {
        margin: 0.5rem auto;
        font-size: 1rem;
    }
    
    .contact textarea {
        margin: 0.5rem auto;
        font-size: 1rem;
        height: 50px;
    }
    
    .contact ::placeholder { 
        font-size: 1rem;
    }
      
    .contact :-ms-input-placeholder {
        font-size: 1rem;
    }
      
    .contact ::-ms-input-placeholder { 
        font-size: 1rem;
    }
}

/* Mobile and below */
@media (max-width: 412px) {
    body {
        line-height: 1.5rem;
    }

    .nav-ul {
        margin-top: 2vh;
    }

    .home h1{
        font-size: 2.5rem;
    }

    .main-picture {
        max-width: 285px;
    }

    .about {
        flex-direction: column;
        padding: 1rem;
    }

    .about h1 {
        font-size: 1.75rem;
    }

    .about-text {
        width: 100%;
        text-align: center;
        font-size: .8rem;
    }

    .about-img img {
        max-width: 220px;
    }

    .about-text h1 {
        margin: 1rem auto .5rem;
    }

    .events .grid {
        display: block;
    }

    .event-info {
        display: none;
    }

    .events .box {
        margin: .75rem auto;
    }

    .events img {
        max-width: 50px;
    }

    .events-text p {
        font-size: 0.8rem;
    }

    .txt-md {
        font-size: 1.15rem!important;
    }

    .txt-lg {
        font-size: 1.5rem!important;
    }

    .txt-xl {
        font-size: 1.5rem!important;
    }
    
}


@keyframes animation {
    0% {opacity: 0;}
    100% {opacity: 100;}
}

*:focus {
    outline: none;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

/* Utilities */
.bg-grey {  background-color: #F8DFDB; }

.bg-white { background-color: #FFFFFF; }

.bg-orange { background-color: #F76000; }

.text-center { text-align: center; }

.txt-sm {  font-size: 0.8rem; line-height: 1.6rem; }

.txt-md { font-size: 1.3rem; }

.txt-lg { font-size: 1.7rem; }

.txt-xl { font-size: 2.5rem; }

.txt-xxl { font-size: 3rem; }